<!DOCTYPE html>
<html>
    <head>
        <title>Flowers</title>
    </head>
    <body>
        <label>Add flower</label>
        <form action="/flowers" method="post">
            <label>Flower name:</label>
            <input type="text" name="name" required> <br>
            <label>Flower count:</label>
            <input type="number" name="count" required> <br>
            <label>Flower cost:</label>
            <input type="number" name="cost" required> <br>
            <input type="submit" value="add">
        </form>
        {% for flower in flowers %}
        <h4>{{flower.name}}</h4>
        <p>ID: {{flower.id}} <br>
            Cost: {{flower.cost}} <br>
            Count: {{flower.count}}
        </p>
        {% endfor %}
        <label>Add to cart</label>
        <form action="/cart/items" method="post">
            <label>Flower ID:</label>
            <input type="number" name="flower_id" required>
            <input type="submit" value="add">
        </form>
        <a href="/cart/items">CART</a>
    </body>